body{
  font-family:ui-monospace;
  font-size: 150%;
}
container {
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;}
body {
    background: linear-gradient(185deg, rgb(71, 27, 215), red);
}

main img {
  max-width: 300px;   
  width: 100%;        
  height: auto;    
  display: block;
  margin: 0 auto;   
  border-radius: 10px;
}
body {
    display: block;
    margin: 8px;
}
h1 {
    font-size: 3rem;
    background: linear-gradient(315deg, black, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}
nav {
    display: table-caption;
}
nav {
    font-family: fantasy;
}
img {
    border: 30px solid black;
}
p {
    text-align: center;
}
p {
    line-height: 2.1;
}